###**Course Content**:
##### Day 71 of 100 Days of Python
##### Project Name: Analyzing College Majors vs Salary
##### Things I implemented: Pandas, Beautiful Soup, Requests

# Data Exploration using Pandas
##### Analyzing College Majors vs Salary

### Uploading and Reading CSV

In [57]:
import pandas as pd

In [58]:
df = pd.read_csv("sample_data/salaries_by_college_major.csv")

In [59]:
df.head()

     Undergraduate Major  ...     Group
0             Accounting  ...  Business
1  Aerospace Engineering  ...      STEM
2            Agriculture  ...  Business
3           Anthropology  ...      HASS
4           Architecture  ...  Business

[5 rows x 6 columns]

### Preliminary Data Exploration and Data Cleaning with Pandas

In [60]:
df.shape # Number of rows and columns

(51, 6)

In [61]:
df.columns # Return all columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [62]:
df.isna() # check the whole dataframe for blank cells

    Undergraduate Major  ...  Group
0                 False  ...  False
1                 False  ...  False
2                 False  ...  False
3                 False  ...  False
4                 False  ...  False
5                 False  ...  False
6                 False  ...  False
7                 False  ...  False
8                 False  ...  False
9                 False  ...  False
10                False  ...  False
11                False  ...  False
12                False  ...  False
13                False  ...  False
14                False  ...  False
15                False  ...  False
16                False  ...  False
17                False  ...  False
18                False  ...  False
19                False  ...  False
20                False  ...  False
21                False  ...  False
22                False  ...  False
23                False  ...  False
24                False  ...  False
25                False  ...  False
26                False  ...  False
27                False  ...  False
28                False  ...  False
29                False  ...  False
30                False  ...  False
31                False  ...  False
32                False  ...  False
33                False  ...  False
34                False  ...  False
35                False  ...  False
36                False  ...  False
37                False  ...  False
38                False  ...  False
39                False  ...  False
40                False  ...  False
41                False  ...  False
42                False  ...  False
43                False  ...  False
44                False  ...  False
45                False  ...  False
46                False  ...  False
47                False  ...  False
48                False  ...  False
49                False  ...  False
50                False  ...   True

[51 rows x 6 columns]

In [63]:
df.tail() # retrieve last 5 values

      Undergraduate Major  ...  Group
46             Psychology  ...   HASS
47               Religion  ...   HASS
48              Sociology  ...   HASS
49                Spanish  ...   HASS
50  Source: PayScale Inc.  ...    NaN

[5 rows x 6 columns]

In [64]:
df = df.dropna() # Drop all columns with NaN values

In [65]:
df.tail()

   Undergraduate Major  ...  Group
45   Political Science  ...   HASS
46          Psychology  ...   HASS
47            Religion  ...   HASS
48           Sociology  ...   HASS
49             Spanish  ...   HASS

[5 rows x 6 columns]

### Accessing Columns and Individual Cells in the Dataframe

In [66]:
df.get('Starting Median Salary') # Access Columns

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [67]:
df.get('Starting Median Salary').max() # Find max value in the column

74300.0

In [68]:
df.get('Starting Median Salary').idxmax() # Get index of max value in the column

43

In [69]:
df.get('Undergraduate Major').loc[43] # Get the Major using loc function

'Physician Assistant'

In [70]:
df.loc[43] # Get all columns of a single row

Undergraduate Major                  Physician Assistant
Starting Median Salary                             74300
Mid-Career Median Salary                           91700
Mid-Career 10th Percentile Salary                  66400
Mid-Career 90th Percentile Salary                 124000
Group                                               STEM
Name: 43, dtype: object

#### Challenge 1: Highest mid-career salary 

What college major has the highest mid-career salary? How much do graduates with this major earn? (Mid-career is defined as having 10+ years of experience).

In [71]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [72]:
highest_mid_career_index = df.get('Mid-Career Median Salary').idxmax()
print(df.loc[highest_mid_career_index])

Undergraduate Major                  Chemical Engineering
Starting Median Salary                              63200
Mid-Career Median Salary                           107000
Mid-Career 10th Percentile Salary                   71900
Mid-Career 90th Percentile Salary                  194000
Group                                                STEM
Name: 8, dtype: object

In [73]:
highest_mid_career_major = df['Undergraduate Major'][highest_mid_career_index]
highest_mid_career_salary = int(df['Mid-Career Median Salary'][highest_mid_career_index])
highest_mid_career_start = int(df['Starting Median Salary'][highest_mid_career_index])
print(f'College Major with highest mid-career salary is {highest_mid_career_major}\nwith mid-career salary of ${highest_mid_career_salary}\nand starting median salary of ${highest_mid_career_start}')

College Major with highest mid-career salary is Chemical Engineering
with mid-career salary of $107000
and starting median salary of $63200

#### Challenge 2: Lowest starting salary

Which college major has the lowest starting salary and how much do graduates earn after university?

In [74]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [75]:
lowest_start_index = df.get('Starting Median Salary').idxmin()
lowest_start_index

49

In [76]:
lowest_start_major = df['Undergraduate Major'][lowest_start_index]
lowest_start_salary = int(df['Starting Median Salary'][lowest_start_index])
print(f'College Major with lowest starting salary is {lowest_start_major}\nwith starting median salary of ${lowest_start_salary}')

College Major with lowest starting salary is Spanish
with starting median salary of $34000

#### Challenge 3: Lowest mid-career salary

Which college major has the lowest mid-career salary and how much can people expect to earn with this degree?

In [77]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [78]:
lowest_mid_index = df.get('Mid-Career Median Salary').idxmin()
lowest_mid_index

18

In [79]:
lowest_mid_major = df['Undergraduate Major'][lowest_mid_index]
lowest_mid_salary = int(df['Mid-Career Median Salary'][lowest_mid_index])
lowest_mid_start = int(df['Starting Median Salary'][lowest_mid_index])
print(f'College Major with lowest starting salary is {lowest_mid_major}\nwith mid-career median salary of ${lowest_mid_salary}\nand starting median salary of ${lowest_mid_start}')

College Major with lowest starting salary is Education
with mid-career median salary of $52000
and starting median salary of $34900

### Sorting values and Adding columns

In [80]:
# Make spread column
spread_col = df['Mid-Career 90th Percentile Salary'].subtract(df['Mid-Career 10th Percentile Salary'])
df.insert(1, "Mid-Career Spread", spread_col)
df.head()

     Undergraduate Major  ...     Group
0             Accounting  ...  Business
1  Aerospace Engineering  ...      STEM
2            Agriculture  ...  Business
3           Anthropology  ...      HASS
4           Architecture  ...  Business

[5 rows x 7 columns]

In [82]:
# Sort values
low_risk = df.sort_values('Mid-Career Spread', ascending = False)
low_risk.head()

   Undergraduate Major  ...     Group
17           Economics  ...  Business
22             Finance  ...  Business
37                Math  ...      STEM
36           Marketing  ...  Business
42          Philosophy  ...      HASS

[5 rows x 7 columns]

#### Challenge 1: Highest Potential

Find the top 5 degrees with the highest values in the 90th percentile.

In [90]:
high_potential = df.sort_values('Mid-Career 90th Percentile Salary', ascending=False, ignore_index = True)
high_potential.get(['Undergraduate Major', 'Mid-Career 90th Percentile Salary']).head(5)

    Undergraduate Major  Mid-Career 90th Percentile Salary
0             Economics                           210000.0
1               Finance                           195000.0
2  Chemical Engineering                           194000.0
3                  Math                           183000.0
4               Physics                           178000.0

#### Challenge 2: Degrees with greatest spread in salaries

Which majors have the largest difference between high and low earners after graduation.

In [92]:
high_spread = df.sort_values('Mid-Career Spread', ascending=False, ignore_index=True)
high_spread.get(['Undergraduate Major', 'Mid-Career Spread']).head(5)

  Undergraduate Major  Mid-Career Spread
0           Economics           159400.0
1             Finance           147800.0
2                Math           137800.0
3           Marketing           132900.0
4          Philosophy           132500.0

### Grouping and Pivoting Data

In [93]:
df.groupby('Group').count() # Group the values together by value

          Undergraduate Major  ...  Mid-Career 90th Percentile Salary
Group                          ...
Business                   12  ...                                 12
HASS                       22  ...                                 22
STEM                       16  ...                                 16

[3 rows x 6 columns]

In [94]:
df.groupby('Group').mean()

          Mid-Career Spread  ...  Mid-Career 90th Percentile Salary
Group                        ...
Business      103958.333333  ...                      147525.000000
HASS           95218.181818  ...                      129363.636364
STEM          101600.000000  ...                      157625.000000

[3 rows x 5 columns]

# Project: Update the data analysis by scraping

In [98]:
from bs4 import BeautifulSoup # Import Beautiful Soup Module
import requests # Import Requests Module

In [97]:
# Create new DataFrame
new_df = pd.DataFrame(columns=['Undergraduate Major', 'Starting Median Salary', 'Mid-Career Median Salary'])
new_df

Empty DataFrame
Columns: [Undergraduate Major, Starting Median Salary, Mid-Career Median Salary]
Index: []

In [123]:
# Scrape using Beautiful Soup
major_url = 'https://www.payscale.com/college-salary-report/majors-that-pay-you-back/bachelors/page/'

for i in range(1,35):
  url = major_url+str(i)
  page_response = requests.get(url=url).text
  soup = BeautifulSoup(page_response, "html.parser")
  rows = soup.find_all(class_='data-table__row')
  for row in rows:
    major = row.select_one('.csr-col--school-name .data-table__value').get_text()
    salaries = row.select('.csr-col--right .data-table__value')
    start, mid = salaries[:2]
    add = {'Undergraduate Major':major,'Starting Median Salary':start.get_text()[1:], 'Mid-Career Median Salary':mid.get_text()[1:]}
    new_df = new_df.append(add, ignore_index=True)

new_df #still contain duplicates due to multiple test:v

                                   Undergraduate Major  ... Mid-Career Median Salary
0                                Petroleum Engineering  ...                  182,000
1     Electrical Engineering & Computer Science (EECS)  ...                  152,300
2                     Applied Economics and Management  ...                  139,600
3                                  Operations Research  ...                  139,600
4                                    Public Accounting  ...                  138,800
...                                                ...  ...                      ...
2497                         Early Childhood Education  ...                   43,300
2498                                     Mental Health  ...                   42,500
2499                                 Medical Assisting  ...                   42,300
2500                             Addictions Counseling  ...                   42,200
2501                                     Metalsmithing  ...                   38,400

[2502 rows x 3 columns]

In [124]:
new_df = new_df.drop_duplicates() # Drop all duplicates
new_df.describe()

       Undergraduate Major Starting Median Salary Mid-Career Median Salary
count                  834                    834                      834
unique                 834                    318                      501
top      Public Management                 40,600                   76,200
freq                     1                      9                        6

In [127]:
# Convert the Salary from string into integers
new_df['Starting Median Salary'] = new_df['Starting Median Salary'].apply(lambda x: int(x.split(',')[0])*1000 + int(x.split(',')[1]))
new_df['Mid-Career Median Salary'] = new_df['Mid-Career Median Salary'].apply(lambda x: int(x.split(',')[0])*1000 + int(x.split(',')[1]))

new_df

                                  Undergraduate Major  ...  Mid-Career Median Salary
0                               Petroleum Engineering  ...                    182000
1    Electrical Engineering & Computer Science (EECS)  ...                    152300
2                    Applied Economics and Management  ...                    139600
3                                 Operations Research  ...                    139600
4                                   Public Accounting  ...                    138800
..                                                ...  ...                       ...
829                         Early Childhood Education  ...                     43300
830                                     Mental Health  ...                     42500
831                                 Medical Assisting  ...                     42300
832                             Addictions Counseling  ...                     42200
833                                     Metalsmithing  ...                     38400

[834 rows x 3 columns]

In [128]:
new_df.describe()

       Starting Median Salary  Mid-Career Median Salary
count              834.000000                834.000000
mean             49843.045564              82867.505995
std               9727.282745              19870.064395
min              31000.000000              38400.000000
25%              42800.000000              68325.000000
50%              47600.000000              80300.000000
75%              55475.000000              95175.000000
max             101200.000000             182000.000000

In [129]:
new_df.head()

                                Undergraduate Major  ...  Mid-Career Median Salary
0                             Petroleum Engineering  ...                    182000
1  Electrical Engineering & Computer Science (EECS)  ...                    152300
2                  Applied Economics and Management  ...                    139600
3                               Operations Research  ...                    139600
4                                 Public Accounting  ...                    138800

[5 rows x 3 columns]